.spawn-enter {
    opacity: 0.01;
    left: 0;
}

.spawn-enter.spawn-enter-active {
    opacity: 1;
    left: 0;
    transition: opacity 700ms ease-in, left 700ms ease-in;
}

.spawn-leave {
    opacity: 1;
}

.spawn-leave.spawn-leave-active {
    opacity: 0.01;
    transition: all 700ms ease-in;
}


.blood {
    color: rgba(137, 7, 14, 1)
}


.image-container {
    position: relative;
    /* Remove the parts of the circle that is outside of the image */
    overflow:hidden;
}
.image-container:after {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* Add more width */
    width: 120%;
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    padding-bottom: 120%;
    box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0.8);
    border-radius: 50%;
}